body {
    font-family: 'MaxPro', sans-serif;
    font-weight: 400;
}
.title{
    font-size:23px;
    color:black;
    margin: 0 0 35px;
    letter-spacing: .19px;
}
.mb-35{margin-bottom:35px}
a:hover{color:inherit;text-decoration: none;}
#main{
    position: relative;
    height: 100%;
}
.navbar-nav{margin-left: auto;}
.line{
    position: absolute;
    top: 0;
    width: 2px;
    background-size: 100%;
    z-index: 10;
    height: 100%;
    background: #ffffff14;
}
.line1{
    left: 10%;
}
.line2{
    left: 30%;
}
.line3{
    left: 50%;
}
.line4{
    left: 70%;
}
.line5{
    left: 90%;
}
.slider .item img{height:800px;object-fit:cover}
#slider{position: relative;}
#slider .navbar {
    padding:15px 0;
}
.navbar-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:99;
}
#slider .nav-link {
    margin: 0 25px;
    color:black;
    transition: 500ms all ease;
    position: relative;
}
.overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 25%;
    background-image: linear-gradient(white, transparent);
}
#slider .nav-item:last-child .nav-link{margin-right: 0;padding-right: 0;}
#slider .nav-link:hover{
    color:#208b90
}
.caption-cont {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
}
.itemcaption h1{
    font-size: 100px;
    color: white;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 6rem;
}
.descr-slider{
    color:white;
    margin-top:30px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.6px;
}
@media (min-width: 500px){
    #slider .about-sec {
        padding-bottom: 63px;
    }
}
#slider .about-sec {
    position: relative;
    z-index: 10;
}
#slider .about-sec .about-info.active {
    /* -webkit-transition: opacity .4s ease, background .4s ease, box-shadow .3s .3s; */
    -moz-transition: opacity .4s ease, background .4s ease, box-shadow .3s .3s;
    -o-transition: opacity .4s ease, background .4s ease, box-shadow .3s .3s;
    /* transition: opacity .4s ease, background .4s ease, box-shadow .3s .3s; */
    background-position: 0 100%;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
}
#slider .about-sec .about-info {
    margin-top: -22%;
    padding: 50px 30px;
    background: -webkit-linear-gradient(90deg, #fff 50%, transparent 0);
    background: -moz-linear-gradient(90deg, #fff 50%, transparent 0);
    background: -o-linear-gradient(90deg, #fff 50%, transparent 0);
    background: linear-gradient(90deg, #fff 50%, transparent 0);
    -webkit-transition: opacity .4s ease, background .4s ease, box-shadow .3s ease;
    -moz-transition: opacity .4s ease, background .4s ease, box-shadow .3s ease;
    -o-transition: opacity .4s ease, background .4s ease, box-shadow .3s ease;
    transition: opacity .4s ease, background .4s ease, box-shadow .3s ease;
    background-position: 100% 100%;
    background-size: 200% 100%;
    -webkit-box-shadow: 0 5px 10px transparent;
    -moz-box-shadow: 0 5px 10px transparent;
    -o-box-shadow: 0 5px 10px transparent;
    box-shadow: 0 5px 10px transparent;
    opacity: 0;
}
.sec-title {
    font-size: 36px;
    line-height: 39px;
    letter-spacing: 0;
    padding: 0 0 32px;
    color: #208b91;
    margin-bottom: 0;
    font-weight: 300;
}
#slider .about-sec .about-info p {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0;
    margin-bottom: 0;
    font-weight: 200;
}
.flexable {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px;
}
.see-all{
    color:white;
    font-size:14px;
    position: relative;
}
.see-all:hover{color:white}
.see-all:after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: white;
    display: block;
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    bottom: 0;
}
.see-all:hover:after {
    width: 0;
}
.more{
    position: relative;
    padding: 0 26px;
    width: auto;
    transition: box-shadow .2s ease-in-out;
    background-color: #208b91;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .2px;
    margin-top: 36px;
    color: #f0f0f0;
    height: 45px;
    line-height: 47px;
    vertical-align: middle;
    display: inline-block;
}
.more:hover{
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    color: #f0f0f0;
}
/* Kateqoriyalar */
.cat-item-img {
    position: relative;
}
#categories,#services {
    background-color: #ededed;
}
#services {
    padding: 63px 0;
}
#categories {
    padding: 63px 0 33px 0;
}
.cat-item {
    margin-bottom: 30px;
    color: black;
    display: block;
}
.cat-item-img:after {
    content: '';
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 0;
    opacity: .9;
    border: 1px solid black;
    border-width: 1px 1px 0;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.cat-item-info:before {
    left: 20px;
}
.cat-item:hover {
    color: #cba37c;
}
.cat-item-info:after {
    right: 20px;
}
.cat-item-info:before, .cat-item-info:after {
    content: '';
    position: absolute;
    height: 50px;
    width: 1px;
    background-color: black;
    opacity: .9;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    top: -10px;
}
.cat-item-info {
    padding: 25px 50px 0;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
    position: relative;
}
.cat-item-title {
    position: relative;
    overflow: hidden;
    font-size: 17px;
    margin-left: -30px;
    margin-right: -30px;
    padding: 0 30px;
}
.cat-item-title span {
    position: relative;
    display: inline-block;
}
.cat-item-title span:before {
    left: 100%;
    margin-left: 15px;
}
.cat-item-title span:after {
    right: 100%;
    margin-right: 15px;
}
.cat-item-title span:before, .cat-item-title span:after {
    content: '';
    position: absolute;
    top: 15px;
    height: 1px;
    width: 650px;
    background-color: black;
    opacity: .9;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.cat-item:hover .cat-item-title span:after,.cat-item:hover .cat-item-title span:before,.cat-item:hover .cat-item-info:before, .cat-item:hover .cat-item-info:after,.cat-item:hover .portfolio-item-img:after  {
    opacity: 1;
    background-color: #b99572;
}
.cat-item:hover .cat-item-img:after{
    opacity: 1;
    border-color: #b99572;
}
.cat-item:hover .cat-item-info {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

/* Works */
#works {
	padding: 63px 0;
	overflow: hidden;
}

#works .works-carousel {
    padding: 0 0 63px;
	position: relative;
	overflow: visible;
}
@media screen and (min-width: 1200px){
    #works .works-carousel .work-item {
        width: 364px !important;
    }
}
@media (min-width: 500px){
.works-item {
    height: 312px;
}
}
.work-item {
	max-height: none;
	-webkit-box-shadow: 1px 13px 39px -5px #5d5d5d;
	-moz-box-shadow: 1px 13px 39px -5px #5d5d5d;
	-o-box-shadow: 1px 13px 39px -5px #5d5d5d;
	box-shadow: 1px 13px 39px -5px #5d5d5d;
	-webkit-transition: box-shadow .3s, transform .3s;
	-moz-transition: box-shadow .3s, transform .3s;
	-o-transition: box-shadow .3s, transform .3s;
	transition: box-shadow .3s, transform .3s;
	height: auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
	background-color: #fff;
}

.work-item .work-img-box{
	height: 200px;
}

.work-item .work-img-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media (min-width: 500px){
.work-item .work-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 18px;
}
}
.work-item .work-box {
	padding: 27px 18px 18px;
}
.work-item .work-box h3 {
	font-size: 24px;
	line-height: 33px;
	letter-spacing: .14px;
	display: block;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	height: 80px;
	color: #208b91;
	margin-bottom: 0;
    width: 100%;
    font-weight: 300;
}
@media (min-width: 1025px){
    .work-item .work-box h3 {
        font-size: 30px;
        line-height: 39px;
        letter-spacing: 0;
    }
    }
.work-item:hover {
	-webkit-box-shadow: 1px 10px 39px 10px #5d5d5d;
	-moz-box-shadow: 1px 10px 39px 10px #5d5d5d;
	-o-box-shadow: 1px 10px 39px 10px #5d5d5d;
	box-shadow: 1px 10px 39px 10px #5d5d5d;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}

#works .works-carousel .custom-progressbar {
	background: #fff;
	bottom: 0;
	display: none;
	height: 3px;
	left: 0;
	margin: 0 auto;
	max-width: 90vw;
	position: absolute;
	right: 0;
	top: auto;
	width: 350px;
}

#works .works-carousel .custom-progressbar .swiper-scrollbar-drag {
	background: #208b91;
	display: block;
	height: 3px;
	width: 50%;
}

#works .works-carousel .custom-nav {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	height: 36px;
	width: 100px;
	z-index: 100;
}

#works .works-carousel .custom-nav .nav-i {
	position: absolute;
	top: auto;
	left: auto;
	right: 0;
	width: 36px;
	height: 36px;
    cursor: pointer;
    border:2px solid black;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: 300ms all ease
}
#works .works-carousel .custom-nav .nav-i:hover{background:white}
#works .works-carousel .custom-nav .nav-i:hover:before{border-color:#208b90}
#works .works-carousel .custom-nav .nav-i::before {
	content: '';
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
}
#works .works-carousel .custom-nav .nav-i.prev-i:before{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 4px;
}
#works .works-carousel .custom-nav .nav-i.next-i:before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 2px;
}
#works .works-carousel .custom-nav .nav-i.prev-i {
	right: 59px;
}

#works .works-carousel .custom-nav .nav-i.swiper-button-disabled {
	opacity: .35;
	cursor: auto;
	pointer-events: none;
}

#works .works-carousel .custom-nav .nav-i:hover::before {
	background-image: url("../img/nav-i-hover.svg");
}
@media (min-width: 768px){
#works .works-carousel .custom-progressbar {
    display: block;
}
}
/* services */
.services-image,.services-box {display:inline-block}
.services-box {
    width: 70%;
    padding:15px 24px;
    background-color:white
}
.services-image {
    width: 30%;
}
.services-box a{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    color: #000;
    padding: 15px 15px 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: all 0.27s ease-in-out 0s, opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.3s, transform 0.6s cubic-bezier(0.5, 0, 0, 1) 0.3s;
}
.services-box a img {
    display: block;
    height: 14px;
}
.services-box a:hover i {
    -webkit-transform: translateX(3px);
    -ms-transform: translateX(3px);
    transform: translateX(3px);
}
.services-box a i {
    -webkit-transition: all .27s ease-in-out;
    -o-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
    margin-left: 10px;
}
.services-box h2 {
    color: black;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}
.services-image img{
    height: 200px;
    object-fit: cover;
}
.ref-box{
    text-align: center;
    font-weight: 400;
    color: #9b9b9b;
    margin-bottom: 20px;
    line-height: 17px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
    margin-bottom: 22px;
    
}
.ref-box:hover{color: #464646;}
.refbackground{
    height: 160px;
    background-color: #f3f3f3;
}
.ref-box p{
    margin-top: 10px;
    margin-bottom:0
}
#references {
    padding: 63px 0;
    background: white;
}
#references,.cat-item,#works .works-carousel,footer,.footerCenter,.footerlast{
    position: relative;
    z-index: 11; 
}
/* Footer */
footer{
    background-color: black;
    border-top:2px  solid #ffffff14;
}
.footerlast{background-color: black;}
.footerCenter{
    border: 2px  solid #ffffff14;
    border-left: none;
    border-right: none;
    background-color: black;
}
.footer-second,.footer-last{  
    display: -ms-flexbox;
    display: flex;
}
.footer-first,.footerCenter,.footerlast{
    padding-top: 43px;
    padding-bottom: 34px;
}
.menu-head {
    margin-bottom: 12px;
    font-weight: 500;
    line-height: 23px;
    font-size: 17px;
    color: white;
    width: 100%;
}
.menu-item a{
    line-height: 21px;
    font-size: 14px;
    color:white;
    color: #208b91;
}
.footer-left, .footer-center, .footer-right {
    width: 37.8824%;
}
.footer-left .menu-body, .footer-center .menu-body{
    display: flex;
    flex-wrap: wrap;
}
.menu-item {
    width: 50%;
    padding-bottom: 11px;
    margin: 0;
}
@media (min-width: 1024px){
.contact-list {
    display: flex;
}
.footer-right {
    width: 24.11765%;
    margin-left: auto;
    text-align: right;
}
.contact-list-col {
    width: 50%;
}
}
.footer-right .menu-body {
    padding-top: 35px;
    margin-bottom: -11px;
}
.footer-right .menu-item{width: 100%;}
.link-text{position: relative;}
.link-text:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 3px);
    border-bottom: 1px solid;
    opacity: 0;
    transition: opacity .25s ease-in;
}
.menu-item:hover .link-text:before {
    opacity: 1;
}
.icon-phone:before {
    content: "\e904";
}
.icons {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    color: #208b91;
    margin-right: 5px;
}
.icon-email:before {
    content: "\e905";
}
.icon-map:before {
    content: "\e907";
}
.social-link i{
    color: #208b91;
    transition:300ms all ease
}
.footerCenter .link-text,.footerCenter .link-text a,.social-title,.footer-center-links a{
    color:white;
    line-height: 21px;
    font-size: 14px;
}
.footer-last,.footer-last a{
    color:#959295;
    transition:300ms all ease
}
.ok-logo img{
    filter:grayscale(100%);
}
.ok-logo a:hover{color:white}
.ok-logo a:hover img{filter:grayscale(0)}
.social-link-logo {
    display: inline-block;
}
.social-link-logo {
    display: inline-block;
    margin-left: 7px;
}
.social-link-logo img{
    height: 24px;
    object-fit: contain;
}
.social-title {
    margin-bottom: 6px;
}
.social-link {
    width: 38px;
    height: 38px;
    display: inline-flex;
    background:white;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition:300ms all ease;
    border-radius:50%
}
.social-link:last-child{margin-right:0}
.social-link:hover{background-color:#208b91}
.social-link:hover i{color:white}
.footer-center-links {
    display: flex;
    justify-content: space-between;
}
.bg-black{background-color: white;}
.text-black{color:black}
.dropdown-menu {
    display:block;
    border-top: 1px solid #e2e2e2;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 18px 0;
    width: 250px;
    top: calc(100% - 1px);
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
.nav-item:hover .dropdown-menu{
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}
.dropdown-menu a {
    padding: 9px 18px;
    position: relative;
    -webkit-transition: background-color .2s ease, color .2s ease;
    -moz-transition: background-color .2s ease, color .2s ease;
    -o-transition: background-color .2s ease, color .2s ease;
    transition: background-color .2s ease, color .2s ease;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .2px;
    font-weight: 300;
}
.dropdown-menu a::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 0;
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    background-color: #e2e2e2;
}
.dropdown-menu a:hover {
    background-color: #e2e2e2;
    color: #208b90;
}